<header class="w-full h-16 px-[16px] flex items-center justify-between bg-primary container">
	<a routerLink="/" class="flex items-center gap-2">
		<div class="w-10 h-10 rounded-lg flex items-center justify-center bg-secondary_bg">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="lucide lucide-dumbbell h-6 w-6 text-white">
				<path d="M14.4 14.4 9.6 9.6"></path>
				<path
					d="M18.657 21.485a2 2 0 1 1-2.829-2.828l-1.767 1.768a2 2 0 1 1-2.829-2.829l6.364-6.364a2 2 0 1 1 2.829 2.829l-1.768 1.767a2 2 0 1 1 2.828 2.829z">
				</path>
				<path d="m21.5 21.5-1.4-1.4"></path>
				<path d="M3.9 3.9 2.5 2.5"></path>
				<path
					d="M6.404 12.768a2 2 0 1 1-2.829-2.829l1.768-1.767a2 2 0 1 1-2.828-2.829l2.828-2.828a2 2 0 1 1 2.829 2.828l1.767-1.768a2 2 0 1 1 2.829 2.829z">
				</path>
			</svg>
		</div>
		<span class="font-bold text-xl text-primary_dark">Liftly</span>
	</a>
	<div class="flex gap-1">
		<a
			class="flex items-center gap-2 px-4 py-2 rounded-lg transition-smooth text-primary-foreground shadow-primary"
			routerLink="/home"
			routerLinkActive="bg-secondary_bg"
			>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="lucide lucide-house h-5 w-5 text-white">
				<path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path>
				<path
					d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z">
				</path>
			</svg>
			<span class="font-medium hidden sm:inline">Home</span></a>
			<a
			class="flex items-center gap-2 px-4 py-2 rounded-lg transition-smooth text-muted-foreground hover:bg-muted hover:text-foreground"
			routerLink="/training"
			routerLinkActive="bg-secondary_bg"
			>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="lucide lucide-dumbbell h-5 w-5 text-white">
				<path d="M14.4 14.4 9.6 9.6"></path>
				<path
					d="M18.657 21.485a2 2 0 1 1-2.829-2.828l-1.767 1.768a2 2 0 1 1-2.829-2.829l6.364-6.364a2 2 0 1 1 2.829 2.829l-1.768 1.767a2 2 0 1 1 2.828 2.829z">
				</path>
				<path d="m21.5 21.5-1.4-1.4"></path>
				<path d="M3.9 3.9 2.5 2.5"></path>
				<path
					d="M6.404 12.768a2 2 0 1 1-2.829-2.829l1.768-1.767a2 2 0 1 1-2.828-2.829l2.828-2.828a2 2 0 1 1 2.829 2.828l1.767-1.768a2 2 0 1 1 2.829 2.829z">
				</path>
			</svg>
			<span class="font-medium hidden sm:inline">Training</span></a>
			<a
			class="flex items-center gap-2 px-4 py-2 rounded-lg transition-smooth text-muted-foreground hover:bg-muted hover:text-foregroun"
			routerLink="/weight"
			routerLinkActive="bg-secondary_bg"
			>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
				stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
				class="lucide lucide-weight h-5 w-5 text-white">
				<circle cx="12" cy="5" r="3"></circle>
				<path
					d="M6.5 8a2 2 0 0 0-1.905 1.46L2.1 18.5A2 2 0 0 0 4 21h16a2 2 0 0 0 1.925-2.54L19.4 9.5A2 2 0 0 0 17.48 8Z">
				</path>
			</svg>
			<span class="font-medium hidden sm:inline">Weight</span></a>
		</div>
</header>