.dropdown {
	width: 100%;
	background-color: red;
}

.collapse-content {
	&_open {
		transition: height 300ms ease-in-out;
		height: 40px;
	}
	&_closed {
		transition: height 300ms ease-in-out;
		height: 0px;
	}
}

::ng-deep {
	.ant-menu-title-content,
	.anticon.ant-collapse-arrow {
		color: white;
	}

	.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
		padding-right: 12px;
	}
	
}