.dropdown {
	width: 100%;
	background-color: red;
}

.collapse-content {
	&_open {
		transition: max-height 300ms ease-in-out;
		height: fit-content;
		max-height: 1000px;
	}
	&_closed {
		transition: max-height 300ms ease-in-out;
		max-height: 0;
	}
}

::ng-deep {
	.ant-menu-title-content,
	.anticon.ant-collapse-arrow {
		color: white;
	}

	.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
		padding-right: 12px;
	}

	.pop-confirm {
	.ant-popover-inner-content {
		border-radius: 12px;
		.ant-btn {
			border: none;
			background-color: hsl(var(--card));
			color: white;
			&.ant-btn-primary {
				background-color: hsl(var(--primary));
			}
		}
	}
}
	
}


